.git
.gitignore
.dockerignore

.env
**/.env
*.tfvars
*.tfstate
*.tfstate.*
crash.log

.terraform
**/.terraform
benchmark/**/.terraform
benchmark/**/terraform.tfvars
benchmark/**/terraform.tfstate*

.local
**/.local
!go.mod
!go.sum

bin
dist
tmp
coverage.out
coverage.html

*.log
README.md
docs
benchmark
